block breadcrumbs
  ul.breadcrumbs
    li.breadcrumbs__item
      a(href= "/" + branchCurrent)= branchCurrent
    - if (commit) {
        li.breadcrumbs__item
          a(href= "/" + branchCurrent + "/" + catalog + "/" + commit)= commit
    - }
      - if (path && path.length) {
        - for (var i = 0; i < path.length - 1; i++) {
          - var linkUrl = path.slice(0, i + 1).join("/");
          - var item = path[i];
            li.breadcrumbs__item
              - if (commit) {
                  a(href= "/" + branchCurrent + "/" + catalog + "/" + commit + "/" + linkUrl)= item
              - } else {
                  a(href= "/" + branchCurrent + "/" + catalog + "/" + linkUrl)= item
              - }
        - };
        li.breadcrumbs__item= path[path.length - 1]
      - };
