extends layout

block content
  header.header
    h1
      a(href="/")= title
  main.content
    include header
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href= "/" + branchCurrent)= branchCurrent
        - if (path && path.length) {
          - for (var i = 0; i < path.length - 1; i++) {
            - var url = path.slice(0, i + 1).join("/");
            - var item = path[i]
              li.breadcrumbs__item
                a(href= "/" + branchCurrent + "/commits/" + url)= item
          - };
          li.breadcrumbs__item= path[path.length - 1]
        - };
    section.commits.content__commits
      h2.commits__title
        |Branch:&nbsp;
        = branchCurrent
      .commits__wrapper
        ul.commits__list
          each commit in commits
            li.commits__item
              p.commits__hash
                b Hash:&nbsp;
                a(href= "commits/" + commit.hash)= commit.hash
              p.commits__date
                b Date:&nbsp;
                = commit.date
              p.commits__author
                b Author:&nbsp;
                = commit.author
              p.commits__message
                b Message:&nbsp;
                = commit.message
