extends layout

block content
  header.header
    h1
      a(href="/")= title
  main.content
    include header
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href= "/" + branchCurrent)= branchCurrent
      - if (commit) {
          li.breadcrumbs__item
            a(href= "/" + branchCurrent + "/" + catalog + "/" + commit)= commit
      - }
        - if (path && path.length) {
          - for (var i = 0; i < path.length - 1; i++) {
            - var url = path.slice(0, i + 1).join("/");
            - var item = path[i];
              li.breadcrumbs__item
                - if (commit) {
                    a(href= "/" + branchCurrent + "/" + catalog + "/" + commit + "/" + url)= item
                - } else {
                    a(href= "/" + branchCurrent + "/" + catalog + "/" + url)= item
                - }
          - };
          li.breadcrumbs__item= path[path.length - 1]
        - };
    section.branches.content__branches
      h2.branches__title
        |Branch:&nbsp;
        = branchCurrent
    section.previews
      div.previews__file
        = file
