extends layout

block content
  header.header
    h1
      a(href="/")= title
  main.content
    include header
    include breadcrumbs
    section.branches.content__branches
      h2.branches__title
        |Branch:&nbsp;
        = branchCurrent
      .branches__wrapper
        ul.tree.branches__tree
          - if (commit) {
          -   var url1 = "/" + branchCurrent + "/" + catalog + "/" + commit + "/" + path.join("/") + "/";
          - }
          - var url2 = "/" + branchCurrent + "/" + catalog + "/" + path.join("/") + "/";
          - var url3 = "/" + branchCurrent + "/" + catalog + "/";
          each item in tree
            - if (item.type === "tree") {
              li.tree__item.tree__item--folder
                - if (path && path.length) {
                  - if (commit) {
                    a(href= url1 + item.name)= item.name
                  - } else {
                    a(href= url2 + item.name)= item.name
                  - }
                - } else {
                  a(href= url3 + item.name)= item.name
                - }
            - } else {
              li.tree__item
                - if (path && path.length) {
                  - if (commit) {
                    a(href= url1 + item.name)= item.name
                  - } else {
                    a(href= url2 + item.name)= item.name
                  - }
                - } else {
                  a(href= url3 + item.name)= item.name
                - }
            - }
