extends layout

block content
  header.header
    h1
      a(href="/")= title
  main.content
    include header
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href= "/" + branchCurrent)= branchCurrent
      - if (commit) {
          li.breadcrumbs__item
            a(href= "/" + branchCurrent + "/" + catalog + "/" + commit)= commit
      - }
        - if (path && path.length) {
          - for (var i = 0; i < path.length - 1; i++) {
            - var url = path.slice(0, i + 1).join("/");
            - var item = path[i]
              li.breadcrumbs__item
                a(href= "/" + branchCurrent + "/" + catalog + "/" + url)= item
          - }
          li.breadcrumbs__item= path[path.length - 1]
        - }
    section.branches.content__branches
      h2.branches__title
        |Branch:&nbsp;
        = branchCurrent
      .branches__wrapper
        ul.tree.branches__tree
          - if (commit) {
          -   var url1 = "/" + branchCurrent + "/" + catalog + "/" + commit + "/" + path.join("/") + "/";
          - }
          - var url2 = "/" + branchCurrent + "/" + catalog + "/" + path.join("/") + "/";
          - var url3 = "/" + branchCurrent + "/" + catalog + "/";
          each item in tree
            - if (item.type === "tree") {
              li.tree__item.tree__item--folder
                - if (path && path.length) {
                  - if (commit) {
                    a(href= url1 + item.name)= item.name
                  - } else {
                    a(href= url2 + item.name)= item.name
                  - }
                - } else {
                  a(href= url3 + item.name)= item.name
                - }
            - } else {
              li.tree__item
                - if (path && path.length) {
                  - if (commit) {
                    a(href= url1 + item.name)= item.name
                  - } else {
                    a(href= url2 + item.name)= item.name
                  - }
                - } else {
                  a(href= url3 + item.name)= item.name
                - }
            - }
